body {
    font-family: monospace, "Courier New";
    color: black;
    background-color: purple }
p {
    padding-left: 16%;
    padding-right: 16%;
    color: deeppink; }
a:link {
COLOR: deeppink;
}
a:visited {
COLOR: deeppink;
}
a:hover {
COLOR: deeppink;
}
a:active {
COLOR: deeppink;
}
